<!--Platforms -> Scala/Java Stack -> Other Language Stacks -->
<!--ROW-->
<div class="row 50% uniform">
    <!--GCP-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/gcp_logo.svg" alt=""/>
    </span></div>

    <!--Hibernate-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/hibernate_logo.svg" alt=""/>
    </span></div>

    <!--Python-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/python_logo.svg" alt=""/>
    </span></div>

    <!--MySQL-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/mysql_logo.svg" alt=""/>
    </span></div>

    <!--Java-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/java_logo.svg" alt=""/>
    </span></div>

    <!--Spring-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/spring_logo.svg" alt=""/>
    </span></div>

</div>

<!--ROW-->
<div class="row 50% uniform">

    <!--Beam-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/beam_logo.svg" alt=""/>
    </span></div>

    <!--Kinesis-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/kinesis_logo.svg" alt=""/>
    </span></div>

    <!--Docker-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/docker_logo.svg" alt=""/>
    </span></div>

    <!--PostGresql-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/postgres_logo.svg" alt=""/>
    </span></div>

    <!--Redis-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/redis_logo.svg" alt=""/>
    </span></div>

    <!--Scala-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/scala_logo.svg" alt=""/>
    </span></div>

</div>

<!--ROW-->
<div class="row 50% uniform">
    <!--AWS-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/aws_logo.svg" alt=""/>
    </span></div>

    <!--Kibana-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/kibana_logo.svg" alt=""/>
    </span></div>

    <!--Cassandra-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/cassandra_logo.svg" alt=""/>
    </span></div>

    <!--Kubernetes-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/kubernetes_logo.svg" alt=""/>
    </span></div>

    <!--Git-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/git_logo.svg" alt=""/>
    </span></div>

    <!--Spark-->
    <div class="2u"> <span class="image fit">
        <img src="/assets/images/logos/spark_logo.svg" alt=""/>
    </span></div>

</div>

